body {
    background-color: #333c3f;
}

html {

}

body {

}

.top-banner {
    background-color: #6d2cda;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #726b69;
    text-align: center;
    padding: 14px 16px;
    background-color: #333c3f;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #d0c0c8;
  }
  

.active {
    background-color: #6d2cda;
    color: white;
}