body {
    background-color: #333c3f;
}

.top-banner {
    background-color: #6d2cda;
    color: #d0c0c8;
    text-align: center;
}

nav {
    display: inline;
}

.logo {
    background-color: #191a20;
    color: #d0c0c8;
    width: 30%;
    height: 5rem;
    font-size: 2rem;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #726b69;
    text-align: center;
    padding: 14px 16px;
    background-color: #333c3f;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #d0c0c8;
  }
  

.active {
    background-color: #6d2cda;
    color: white;
}

main {
    height: auto;
    width: 100%;
    margin-top: 6rem;
}

.owner {
    width: 45%;
    height: auto;
}